 @import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Oswald:wght@200..700&family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Shadows+Into+Light&display=swap");

 .signup-container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('../../Screens/signup.jpg');
   background-size: cover;
   background-position: center;
 }

 .signup-box {
   background-color: rgba(0, 0, 0, 0.5);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 400px;
   backdrop-filter: blur(2px);
 }

 .signup-box h2,
 p {
   text-align: center;
   color: #fff;
 }

 .signup-box input {
   display: block;
   width: 100%;
   margin: 10px 0;
   padding: 10px;
   /* border: 1px solid #fff; */
   border: none;
   border-radius: 4px;
 }

 .signup-box input:hover {
   background-color: rgba(0, 0, 0, 0.2);
   backdrop-filter: filter(6px);
   cursor: pointer;
 }

 .signup-box button {
   width: 100%;
   padding: 10px;
   background-color: #0b0707;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .signup-box button:hover {
   color: #000;
   background-color: #fff;
 }