.all {
  height: 100vh;
  width: 100%;
  background-image: url('../../../public/Screens/product.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow:auto; */
}

.product-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
}

.product-navbar-logo img {
  width: 200px;
  height: 100px;
  border-radius: 180px;
}

.product-navbar-search input {
  width: 600px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #fff;
  /* color: #000; */
}

/* .product-navbar-search{

      } */


.product-navbar-search input::placeholder {
  font-size: 20px;
  color: #000;
}

.product-navbar-icons {
  display: flex;
  gap: 5px;
}

.product-navbar-icon {
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}

.product-navbar-icon:hover {
  color: #ccc;
}

.product-navbar-search {
  position: relative;
  display: flex;
  align-items: center;
}

.product-navbar-search-input input {
  width: 250px;
  padding: 8px 40px 8px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #000;
}

.product-navbar-search-input input::placeholder {
  color: #000;
  font-size: 20px;
}


.product-navbar-search-icon {
  position: absolute;
  right: 10px;
  color: #000;
  font-size: 22px;
  margin-top: 10px;
}

.product-navbar-search-results {
  margin-top: 350px;
  position: absolute;
  background-color: #000;
  width: 100%;
  border: 1px solid #fff;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
  border-radius: 20px;
}

.product-navbar-search-item {
  display: flex;
  padding: 30px;
  border-bottom: 1px solid #066c74;
  margin: auto;
}

.product-navbar-info {
  margin-left: 10px;

}


.cart-tag {
  border: 1px solid #000;
  border-radius: 100%;
  background-color: #f00;
  padding: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}