.profile {
    background-image: url(../../../../public/Screens/profile-pic-bcg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic {
    border: 1px solid #000;
    height: 200px;
    width: 40%;
    margin: auto;
    border-radius: 50%;
}

.profile-pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-container {
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile h1 {
    text-align: center;
}

.profile label {
    margin-top: 10px;
    display: block;
}

.profile input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile button {
    background-color: red;
    color: white;
    height: 50px;
}

.profile button#logout {
    background-color: blue;
    color: white;
}